.searchBook {
    display: block;
}

    .searchBook form {
        font-size: 0;
    }

        .searchBookField {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }

       