:root {
    --primary-color:#10ac84;
    --background-color: #222f3e;
    --color-danger: #ff6b6b;
    --color-primary: #2e86de;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: var(--background-color);
}