.modalBackdrop,
.modalBody {
    position: fixed;
}

.modalBackdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .40;
    z-index: 99;
}

.modalBody {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    border-radius: 5px;
    max-width: 700px;
    padding-top: 65px;
    background: var(--background-color);
    border-top: 5px solid var(--primary-color);
    animation: fadeIn .4s ease;
    animation-fill-mode: both;
}

    .modalClose {
        position: absolute;
        top: 20px;
        right: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 21px;
        background-color: var(--color-danger);
        transition: var(--site-transition);
        -webkit-appearance: none;
        appearance: none;
        border: none;
        line-height: 1;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
    }
    
    .modalClose:hover {
        background-color: var(--color-danger-secondary);
    }

    h3 {
        font-size: 23px;
        text-align: center;
        color: #fff;
    }

    .modalInner {
        padding: 30px 15px;
    }
    
/* key frames */
@keyframes fadeIn {
    from {
        opacity: 0;
        top: 30%;
    }

    to {
        opacity: 1;
        top: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .modalBody {
        max-width: 90%;
    }
}